<div class="bottom-navigation">
  <nav class="nav">
    <a href="/find" class="nav-item is-active home-btm">
      <svg
        fill="#000000"
        height="20px"
        width="20px"
        version="1.1"
        id="home-mob"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 360 360"
        xml:space="preserve"
      >
        <path
          d="M352.163,163.115L198.919,9.871c-10.449-10.449-27.389-10.449-37.838,0L7.837,163.115c-7.652,7.652-9.94,19.16-5.8,29.158
	c4.142,9.998,13.898,16.516,24.719,16.516h20.762v114.574c0,19.112,15.493,34.603,34.603,34.603h195.758
	c19.11,0,34.603-15.492,34.603-34.603V208.789h20.762c10.821,0,20.578-6.519,24.719-16.516
	C362.103,182.275,359.815,170.767,352.163,163.115z M220.431,307.785h-80.862v-45.583c0-22.33,18.102-40.431,40.431-40.431
	s40.431,18.1,40.431,40.431V307.785z"
        />
      </svg>
      <i class="bx bx-heart"></i>
      <span>Home</span>
    </a>
    <a href="/Blogs" class="nav-item blogs-btm">
      <svg
        id="blog-mob"
        width="20px"
        height="20px"
        viewBox="0 0 24 24"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M4 19V6.2C4 5.0799 4 4.51984 4.21799 4.09202C4.40973 3.71569 4.71569 3.40973 5.09202 3.21799C5.51984 3 6.0799 3 7.2 3H16.8C17.9201 3 18.4802 3 18.908 3.21799C19.2843 3.40973 19.5903 3.71569 19.782 4.09202C20 4.51984 20 5.0799 20 6.2V17H6C4.89543 17 4 17.8954 4 19ZM4 19C4 20.1046 4.89543 21 6 21H20M9 7H15M9 11H15M19 17V21"
          stroke="#000000"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>
      <i class="bx bx-home"></i>
      <span>Blogs</span>
    </a>
    <a href="/community" class="nav-item comm-btm">
      <svg
        height="20px"
        width="20px"
        version="1.1"
        id="comm-mob"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 502.648 502.648"
        xml:space="preserve"
      >
        <g>
          <g>
            <g>
              <circle
                id="comm-cir-1"
                style="fill: #010002"
                cx="250.399"
                cy="91.549"
                r="58.694"
              />
              <path
                id="comm-path-1"
                style="fill: #010002"
                d="M455.861,253.028l-54.703-11.411c-18.637-3.904-37.037,4.638-46.765,19.824
				c-9.448-4.853-19.608-9.038-30.415-12.511v-32.529c0.022-24.612-20.126-44.738-44.651-44.738h-55.933
				c-24.655,0-44.716,20.126-44.716,44.738v32.701c-10.699,3.408-20.751,7.593-30.264,12.468
				c-9.728-15.251-28.15-23.857-46.809-19.953l-54.747,11.411c-24.03,5.026-39.626,28.862-34.6,52.978l13.741,65.64
				c4.983,24.051,28.84,39.647,52.892,34.621l17.321-3.624c8.671,12.813,20.665,24.569,36.023,34.621
				c31.989,20.967,74.247,32.529,119.092,32.529c68.617,0,127.721-27.589,154.943-67.215l17.602,3.689
				c24.03,5.004,47.887-10.57,52.87-34.621l13.762-65.64C495.508,281.89,479.912,258.054,455.861,253.028z M251.305,447.381
				c-40.51,0-78.475-10.203-106.797-28.862c-9.707-6.342-17.753-13.395-24.202-20.945l13.266-2.783
				c24.073-5.004,39.669-28.84,34.643-52.913l-12.317-59.018c7.183-3.861,14.733-7.248,22.757-10.138v10.764
				c0,24.569,20.104,44.695,44.716,44.695h55.933c24.548,0,44.652-20.147,44.652-44.695v-11.325
				c8.175,2.912,15.854,6.256,22.973,10.052L334.439,341.9c-4.983,24.073,10.591,47.909,34.664,52.913l13.395,2.804
				C357.52,427.191,308.101,447.381,251.305,447.381z"
              />
              <circle
                id="comm-cir-2"
                style="fill: #010002"
                cx="443.954"
                cy="168.708"
                r="58.694"
              />
              <path
                id="comm-path-2"
                style="fill: #010002"
                d="M70.736,226.172c31.752-6.644,52.029-37.77,45.471-69.501
				c-6.687-31.709-37.749-52.072-69.523-45.428c-31.709,6.622-52.072,37.727-45.428,69.458
				C7.879,212.453,38.984,232.795,70.736,226.172z"
              />
            </g>
          </g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
          <g></g>
        </g>
      </svg>
      <i class="bx bx-basket"></i>
      <span>Community</span>
    </a>
    <% if(loggedin){ %>
    <a href="/profile/<%= loggedin._id%>" class="nav-item prof-btm">
      <img
        src="<%= loggedin.image.link %>"
        style="height: 40px; width: 40px; border-radius: 100px"
        alt=""
      />
      <i class="bx bx-basket"></i>
      <span>Profile</span>
    </a>
    <% }else{ %>
    <a href="/signin" class="nav-item prof-btm">
      <svg
        id="login-mob"
        fill="#000000"
        width="20px"
        height="20px"
        viewBox="0 0 32 32"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <title>login</title>
        <path
          d="M12.219 26.156h6.094c1.156 0 2.125-0.406 2.875-1.188 0.75-0.75 1.219-1.75 1.219-2.875v-12.219c0-1.125-0.469-2.125-1.219-2.875s-1.75-1.188-2.875-1.188h-6.094v2.563h6.094c0.875 0 1.531 0.656 1.531 1.5v12.219c0 0.844-0.656 1.531-1.531 1.531h-6.094v2.531zM0 13.563v4.875c0 0.563 0.469 1.031 1.031 1.031h5.688v3.844c0 0.344 0.156 0.625 0.469 0.781 0.125 0.031 0.281 0.031 0.344 0.031 0.219 0 0.406-0.063 0.563-0.219l7.344-7.344c0.281-0.281 0.25-0.844 0-1.156l-7.344-7.313c-0.25-0.25-0.563-0.281-0.906-0.188-0.313 0.156-0.469 0.406-0.469 0.75v3.875h-5.688c-0.563 0-1.031 0.469-1.031 1.031z"
        ></path>
      </svg>
      <i class="bx bx-basket"></i>
      <span>SignIn</span>
    </a>
    <% } %>

    <div class="nav-indicator-wrapper">
      <span class="nav-indicator"></span>
    </div>
  </nav>
</div>

<link
  rel="stylesheet"
  href="/stylesheets/BottomNavigation/BottomNavigation.styles.css"
/>

<script src="JavaScript/BottomNavigation/BottomNavigation.js"></script>
