<div class="cs-loader">
    <div class="cs-loader-inner">
        <label>L</label>
        <label>O</label>
        <label>A</label>
        <label>D</label>
        <label>I</label>
        <label>N</label>
        <label>G</label>
        <label>●</label>
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/Loader/miniLoader.styles.css" />
