<div class="pl" id="loader">
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__dot"></div>
    <div class="pl__text">Loading…</div>
</div>
