<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img src="/img/source.png" class="ml-5 mx-2" alt="">
    <a class="text-white navbar-brand ml-0" href="#">getGeeks</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse position-relative" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 position-absolute end-50">
        <li class="nav-item ms-2 me-2">
          <a class="text-white nav-link my-2 active" aria-current="page" href="/find">Home</a>
        </li>
        <li class="nav-item ms-2 me-2">
          <a class="text-white nav-link my-2 active" aria-current="page" href="#">About us</a>
        </li>
        <li class="nav-item ms-2 me-2">
          <a class="text-white nav-link my-2 active" aria-current="page" href="#">Services</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!loggedin){ %>
        <li class="nav-but ms-2 me-2">
          <a href="/signin" class="text-white my-2 btn btn-outline-success">SignIn</a>
        </li>
        <li class="nav-but ms-2 me-2">
          <a href="/signup" class="text-white my-2 btn btn-outline-primary">SignUp</a>
        </li>
        <% }else{%>
          <li class="nav-but ms-2 me-2">
            <a href="/users/<%= id%>" class="text-white my-2 btn btn-outline-primary">Community</a>
          </li>
          <li class="nav-but ms-2 me-2">
            <a href="/stalklist/<%= id %>" class="text-white my-2 btn btn-outline-primary">StalkList</a>
          </li>
          <li class="nav-but ms-2 me-2">
            <form action="/profile/<%= id%>" method="post"><button class="text-white my-2 btn btn-outline-primary">Profile</button></form>
          </li>
          <li class="nav-but ms-2 me-2">
            <a href="/signout" class="text-white my-2 btn btn-outline-primary">Log Out</a>
          </li>
          <% } %>
      </ul>
    </div>
  </div>
</nav>