<% layout("layout/BoilerPlateMain.ejs") %>
<div class="row">
  <div class="navbarPanel col-4">
    <nav class="nav flex-column">
      <a class="nav-link active" data-bs-target="#pills-All" aria-current="page" href="#">Friends</a>
      <a class="nav-link" aria-current="page" data-bs-target="#pills-Friends" href="#">Pending</a>
      <a class="nav-link" aria-current="page" data-bs-target="#pills-Requests" href="#">Chats</a>
    </nav>
  </div>
  <div class="col-8">
    <div class="tab-content new-tab-style" style="background-color: none;" id="pills-tabContent">
      <div class="tab-pane text-white fade show active" id="pills-All" role="tabpanel" aria-labelledby="pills-All-tab" tabindex="0">
        Friends 
      </div>
      <div class="tab-pane text-white fade" id="pills-Friends" role="tabpanel" aria-labelledby="pills-Friends-tab" tabindex="0">
        Pending
      </div>
      <div class="tab-pane text-white fade" id="pills-Requests" role="tabpanel" aria-labelledby="pills-Requests-tab" tabindex="0">
        Chats
      </div>
    </div>
  </div>
</div>