<% layout('layout/BoilerPlateMain.ejs') %>
<div class="container-fluid" >

    <%- include('../../partials/flash/flash-success.ejs') %>
    <%- include('../../partials/flash/flash-error.ejs') %>

    <%- include('../../partials/SearchBar/searchbar.ejs') %>
    
    <div class="content">
        <div class="section1">
           <h1 class="heading-mobile" style="font-size: 2.5rem; text-align: start;">Welcome to getGeeks</h1>
           <div class="mountain">
               <div class="mountain-words">
                   <h1 class="big-screen-data">All your Competitve Programming friends in one place, accessible easily.</h1>
                   <h2 class="mx-5 big-screen-data">GetGeeks makes your task of keeping a track of your peers in competitve programming
                       easier by storing their data of multiple handles under one hood.</h2>
                    <h2 class="small-screen-data">GetGeeks makes your task of keeping a track of your peers in competitve programming
                        easier by storing their data of multiple handles under one hood.</h2>
                   <h2 style="text-align: start; display: block;" class="common-screen-text">Grind and Grow !!</h2>
                     <button class="get-started" >Get Started</button>
               </div>
           </div>
       </div>

        <div class="section2 row justify-content-md-center">
            <div style="padding-top: 5%;" class="card col-10 col-md-4 mx-2 mx-md-5 my-3 my-md-5">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 100%;">
                    <h3 class="card-title text-white" style="width: 100%;">Unified Profile Tracker</h3>
                    <p class="card-text">Keep track of friends' Codeforces and CodeChef profiles from one place. View their latest submissions, ratings, and contest participation without switching apps.</p>
                </div>
            </div>
            <div style="padding-top: 5%;" class="card col-10 col-md-4 mx-2 mx-md-5 my-3 my-md-5">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-security.svg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 100%;">
                    <h3 class="card-title text-white" style="width: 100%;">Centralized Blogging Platform</h3>
                    <p class="card-text">
                      Share CP ideas and strategies through blogs. Engage with a community dedicated to improving coding skills and solving algorithmic challenges.</p>
                </div>
            </div>
            <div style="padding-top: 5%;" class="card col-10 col-md-4 mx-2 mx-md-5 my-3 my-md-5">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-collaboration.svg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 100%;">
                    <h3 class="card-title text-white" style="width: 100%;">Personalised Stalklist</h3>
                    <p class="card-text">
                      Create and manage a list of frequently visited profiles. Easily access updates and progress in competitions, keeping your tracking organized.</p>
                </div>
            </div>
            <div style="padding-top: 5%;" class="card col-10 col-md-4 mx-2 mx-md-5 my-3 my-md-5">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-any-file.svg" class="card-img-top" alt="...">
                <div class="card-body" style="width: 100%;">
                    <h3 class="card-title text-white" style="width: 100%;">Flex Your GetGeeks Profile</h3>
                    <p class="card-text">
                      Showcase your competitive programming skills by displaying your GetGeeks profile. Highlight achievements, ratings, and contest history to demonstrate your expertise.</p>
                </div>
            </div>
              
        </div>
    </div>
        <div class="pg-footer">
    <footer class="footer">
      <div class="footer-content">
        <div class="footer-content-column">
          <div class="footer-logo">
            <a class="footer-logo-link" href="/find">
              <h1>GetGeeks</h1>
            </a>
          </div>
          <div class="footer-menu">
            <h2 class="footer-menu-name" href="/find"> Get Started</h2>
            <ul id="menu-get-started" class="footer-menu-list">
              <li class="menu-item menu-item-type-post_type menu-item-object-product">
                <a href="#">© 2024 GetGeeks: All rights reserved.</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="footer-content-column">
          <div class="footer-menu">
            <h2 class="footer-menu-name"> Company</h2>
            <ul id="menu-company" class="footer-menu-list" style="width: 100%;">
              <li class="menu-item menu-item-type-post_type menu-item-object-page">
                <a href="#">Follow us on social media for the latest updates and geeky news!</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                <a href="#">Have questions or a bug? Reach me out at barmanayush2980@gmail.com.</a>
              </li>
              <li class="menu-item menu-item-type-taxonomy menu-item-object-category">
                <a href="#">This is an open-source project. Feel Free to contribute</a>
              </li>
              <% if(loggedin){ %>
                <div href="/signout" class="btn btn-danger my-4">
                  LogOut
                </div>
              <% } %>
            </ul>
    </footer>
  </div>
    
    </div>
</div>

<link rel="stylesheet" href="/stylesheets/homepage/homepage.styles.css">
<link rel="stylesheet" href="/stylesheets/homepage/customHomepage.styles.css">
<script src="/JavaScript/homepage/searchbar.js"></script>
<script src="/JavaScript/Animation/searchbar.js"></script>
<script src="/JavaScript/Animation/cards.js"></script>
<script>
  document.getElementsByClassName("get-started")[0].addEventListener("click" , () => {
    window.location.href = "http://localhost:8000/community"
  })
</script>