.left-profile{
    border: white solid 2px;
    border-radius: 10px;
    height: 70vh;
    overflow-y: auto;
}
.right-profile{
    border: white solid 2px;
    border-radius: 10px;
    height: 70vh;
    overflow-y: auto;
}
.right-profile::-webkit-scrollbar {
    width: 10px; 
}
.right-profile::-webkit-scrollbar-track {
  background: transparent; 
}

.right-profile::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}
.left-profile::-webkit-scrollbar {
    width: 10px; 
}
.left-profile::-webkit-scrollbar-track {
  background: transparent; 
}

.left-profile::-webkit-scrollbar-thumb {
  background: #888; 
  border-radius: 5px;
}
.circular-photo{
    margin: 10% 0;
}
.Profile-img{
    margin-left: 50%;
}