<div
  id="success-alert-client"
  class="success-alert alert alert-success"
  role="alert"
>
  <div class="success-client"></div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<link rel="stylesheet" href="/stylesheets/flash/flash-success.styles.css" />
