<div id="error-alert-client" class="error-alert alert alert-danger" role="alert">
  <div class="error-client"></div>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
<link rel="stylesheet" href="/stylesheets/flash/flash-error.styles.css" />