<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container-fluid">
    <img src="/img/source.png" class="ml-5 mx-2" alt="" />
    <a class="text-white navbar-brand ml-0" href="#">getGeeks</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon">=</span>
    </button>
    <div
      class="collapse navbar-collapse position-relative"
      id="navbarSupportedContent"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 position-absolute end-50">
        <li class="nav-item ms-2 me-2">
          <a
            class="text-white nav-link my-2 active"
            aria-current="page"
            href="/find"
            >Home</a
          >
        </li>
        <li class="nav-item ms-2 me-2">
          <a
            class="text-white nav-link my-2 active"
            aria-current="page"
            href="/Blogs"
            >Blogs</a
          >
        </li>
        <li class="nav-item ms-2 me-2">
          <a
            class="text-white nav-link my-2 active"
            aria-current="page"
            href="/community"
            >Community</a
          >
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <% if(!loggedin){ %>
        <li class="nav-but ms-2 me-2">
          <a href="/signin" class="text-white my-2 btn btn-outline-success"
            >SignIn</a
          >
        </li>
        <li class="nav-but ms-2 me-2">
          <a href="/signup" class="text-white my-2 btn btn-outline-primary"
            >SignUp</a
          >
        </li>
        <% }else{%>
        <li class="me-5" style="margin-right: 4vw">
          <div class="dropdown">
            <img
              src="<%= loggedin.image.link %>"
              alt=""
              style="height: 60px; width: 60px; border-radius: 100px"
              class="dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              data-bs-auto-close="outside"
              aria-expanded="false"
            />
            <ul class="dropdown-menu profile-dropdown me-5" style="left: -150%">
              <li class="dropdown-li">
                <a
                  class="dropdown-item dropdown-a"
                  href="/profile/<%= loggedin._id%>"
                  ><%= loggedin.username %></a
                >
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li class="dropdown-li">
                <a class="dropdown-item dropdown-a" href="/signout">Logout</a>
              </li>
            </ul>
          </div>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
<link rel="stylesheet" href="/stylesheets/Navbar/Navbar.styles.css" />
