<% layout('layout/boilerplate_auth') %>
<form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <input type="email" class="form-control my-3 custom-bg-ai" id="inputEmail4" placeholder="Email">
      </div>
      <div class="form-group col-md-6">
        <input type="password" class="form-control my-3 custom-bg-ai" id="inputPassword4" placeholder="Password">
      </div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control my-3 custom-bg-ai" id="inputAddress" placeholder="1234 Main St">
    </div>
    <div class="form-group">
      <input type="text" class="form-control my-3 custom-bg-ai" id="inputAddress2" placeholder="Apartment, studio, or floor">
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>