<% layout('layout/boilerplate_auth')%>
<%- include('../partials/flash-error.ejs')%>
<%- include('../partials/flash-success.ejs')%>
<div class="row text-light">
    <h1 class="text-center">Sign Up</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/register" method="POST" novalidate class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="username">User Name</label>
                <input class="form-control" type="text" id="username" name="user[username]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="fullname">Full Name</label>
                <input class="form-control" type="text" id="fullname" name="user[fullname]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="state">State</label>
                <input class="form-control" type="text" id="state" name="user[state]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="country">Country</label>
                <input class="form-control" type="text" id="country" name="user[country]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="password">Password</label>
                <input class="form-control" type="text" id="password" name="user[password]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="CCprof">Code Chef Handle</label>
                <input class="form-control" type="text" id="CCprof" name="user[CCprof]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="CFprof">Code Forces Handle</label>
                <input class="form-control" type="text" id="CFprof" name="user[CFprof]" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <div class="form-file custom-file">
                    <input type="file" class="form-file-input" id="image" name="image" multiple>
                    <label class="form-file-label" for="image">
                        <span class="form-file-text custom-file-label">Choose image(s)...</span>
                        <span class="form-file-button">Browse</span>
                    </label>
                </div>
            </div>
            <div class="mb-3">
                <button class="btn btn-primary">Register</button>
            </div>
        </form>
    </div>
</div>