<% layout('layout/boilerplate') %>
<div class="container-fluid " >
    <form action="/find">
        <button class="btn btn-primary" type="submit">Find Another User</button>
    </form>
</div>
<%- include("../partials/CF-data.ejs")%>