<% layout('layout/BoilerPlateMain') %>

<div class="container-boss">
    <%- include("../partials/SearchBar/searchbar.ejs") %>
    <%- include("../partials/CFData.ejs") %>
</div>

<link rel="stylesheet" href="/stylesheets/profileTemplate/findCF.css" />