<% layout('layout/boilerplate_loader') %>
<div class="container-fluid" >
  <%- include('../partials/flash-success.ejs')%>
  <%- include('../partials/flash-error.ejs')%>
<form class="d-flex" action="/fetch">
  <input class="form-control me-2 border-opacity-50 border-white custom-bg-ai" type="text" placeholder="Search" name="search" aria-label="Search" required>
  <select class="form-select" aria-label="Default select example" name="handle" required>
    <option value="CF">Code Forces</option>
    <option value="CC">Code Chef</option>
  </select>
  <input type="submit" class="rounded" id="Search-bar-homepage" value="Search">
  </form>
<div class="content">
    <div class="section1">
        <div class="mountain">
            <div class="mountain-words">
                <h1>All your Competitve Programming friends in one place, accessible easily.</h1>
                <h2 class="mx-5">GetGeeks makes your task of keeping a track of your peers in competitve programming easier by storing their data of multiple handles under one hood.</h2>
                <h2 class="mx-5">Grind and Grow !!</h2>
                <button class="get-started">Get Started</button>
            </div>
        </div>
        </div>

    <div class="section2">
        <div class="features">
            <div class="tile access">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg" alt="access icon">
                <h3>Access your files, anywhere</h3>
                <p>The ability to use a smartphone, tablet, or computer to access your account means your files follow you everywhere.</p>
            </div>
            <div class="tile security">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-security.svg" alt="security icon">
                <h3>Security you can trust</h3>
                <p>2-factor authentication and user-controlled encryption are just a couple of the security features we allow to help secure your files.</p>
            </div>
            <div class="tile real-time">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-collaboration.svg" alt="clock icon">
                <h3>Real-time collaboration</h3>
                <p>Securely share files and folders with friends, family, and colleagues for live collaboration. No email attachments required.</p>
            </div>
            <div class="tile storage">
                <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-any-file.svg" alt="storage icon">
                <h3>Store any type of file</h3>
                <p>Whether you're sharing holidays, photos, or work documents, Fylo as you covered, allowing for all file types to be securely stored and shared.</p>
            </div>
        </div>
    </div>
    <div class="section3">
        <img src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/illustration-stay-productive.png?raw=true" alt="people working">
        <div class="sec3text">
            <h1>Stay productive, wherever you are</h1>
            <p>Never let location be an issue when accessing your files. Fylo has you covered for all your file storage needs.<br><br>Securely share files and folders with friends, family, and colleagues for live collaboration. No email attachments required.</p>
            <a href="#">See how Fylo works    <img src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-arrow.svg" alt="tiny arrow"></a>
        </div>
    </div>
</div>
</div>